@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFAFA;
  text-align: center;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


.section-title {
  font-weight: bolder;
}

h1 {
  float: left;
  color:#4A4A4A;
}

main {
  background-color: white;
}

h2,
li {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: #4A4A4A;
  margin-right: 30px;
}

li:last-child {
  margin-right: 0px;
}

h2 {
  padding-top: 60px;
}

h3 {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  float: right;
  text-transform: uppercase;
  padding-bottom: 10px;
}

a {
  color: black;
  text-decoration: none;
}

header {
  margin: 30px 30px 57px 30px;
}

header p {
  max-width: 60%;
  color: #B7B7B7;
  float: left;
  text-align: left;
  padding-right: 20px;
}

.student-image {
  padding-top: 20px;
  max-width: 40%;
  float: right;
}

.container {
  margin: 30px;
}

.card {
  text-align: center;
  padding: 10px 10px 0px 10px;
}

.card p {
  padding: 5px;
}

.card:last-child {
  margin-right: 0px;
}

.main-row {
  padding: 30px;
  margin: 20px 0px;
  display: flex;
}

.main-row:last-child {
  margin-bottom: 0px;
}

.main-image {
  max-width: 270px;
}

.contacts {
  text-align: center;
  padding-bottom: 25px;
}

.student-name {
  float:left;
  text-align: left;
  list-style-type: none;
}

footer h1 {
  font-size: 1rem;
  line-height: 30px;
}

footer {
  border-top: 1px solid rgb(240,240,240);
}
